@use "colors" as *;

@mixin shell {
  width: 100%;
  border-radius: 6px;
  background: $tag-color;
  cursor: pointer;
  outline: 1px solid $tag-hover;
  transition: 0.2s ease-in;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    outline: 1px solid $border-secondary;
    background: $bg-input;
  }

  &:focus-within {
    outline: 1px solid $border-active;
    background: $bg-input;
  }

  input {
    @include input;
  }

  &.has-error {
    outline-color: $text-red !important;
    box-shadow: 0 0 0 1px $text-red;
  }
}

@mixin input {
  font-size: 16px;
  border: none;
  outline: none;
  color: $text-main;
}

@mixin state {
  &::placeholder {
    color: $text-placeholder;
  }

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}

@mixin label {
  p {
    color: $white;

    span {
      color: $text-red;
    }
  }
}
