// Основные цвета
$background-color: #000000;
$main-color: #222228;
$second-color: #29292F;

// Цвет текста
$text-color-main: #F1ECFF;
$button-color: linear-gradient(92.51deg, #FF9898 0.48%, #8054FF 100%);



// кароче тут нужно задать отдельные блоки типо текстовые переменные, переменные фона итд. и каждое название к сожалению должно быть понятным